{% load static %}
{% load i18n %}
{% load l10n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jezow's shop</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
<!-- Header Section -->
<header>
    <div class="logo">Jezow's shop <img id="logo_jezow" src="{% static 'images/logo.jpg' %}" alt="Logo image"></div>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}" class="active">{% trans 'Home' %}</a></li>
            <li><a href="{% url 'shop-men' %}">{% trans 'Shop Men' %}</a></li>
            <li><a href="{% url 'shop-women' %}">{% trans 'Shop Women' %}</a></li>
            <li><a href="{% url 'new-arrivals' %}">{% trans 'New arrivals' %}</a></li>
            <li><a href="{% url 'best-products' %}">{% trans 'Best products' %}</a></li>
            <li><a href="#footer">{% trans 'Contact' %}</a></li>
            <li><a href="{% url 'history' %}">{% trans 'Orders' %}</a></li>
        </ul>
    </nav>
    <div class="header-icons">
        <div class="language-switcher">
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <select name="language" onchange="this.form.submit()">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                            {{ language.name_local }}
                        </option>
                    {% endfor %}
                </select>
            </form>
        </div>
        {% if user.is_authenticated %}
            <a href="{% url 'profile' %}">
                <i class="fas fa-user"></i>
            </a>
            <a href="{% url 'cart' %}" class="cart-icon">
                <i class="fas fa-shopping-cart"></i><span class="cart-count">{{ cart_count }}</span>
            </a>
        {% else %}
            <div class="user-icon" onclick="toggleDropdown()">
                <i class="fas fa-user"></i>
            </div>
            <div id="userDropdown" class="dropdown-content">
                <a href="{% url 'login' %}">{% trans 'Login' %}</a>
                <a href="{% url 'register' %}">{% trans 'Register' %}</a>
            </div>
        {% endif %}
    </div>
</header>
{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

<section class="hero">
    <div class="hero-content">
        <h1>{% trans "Welcome to Jezow's shop" %}</h1>
        <p>{% trans "Your best source for stylish men's clothing." %}</p>
        <a href="{% url 'shop-men' %}" class="btn-shop-men">{% trans 'Shop Men' %}</a>
        <a href="{% url 'shop-women' %}" class="btn-shop-women">{% trans 'Shop Women' %}</a>
    </div>
</section>

<!-- About Us Section -->
<section class="about-us">
    <div class="about-content">
        <div class="about-photo">
            <img src="{% static 'images/about.png' %}" alt="About Us Photo">
        </div>
        <div class="about-text">
            <h3>{% trans 'About Us' %}</h3>
            <h2>{% trans 'Selected materials designed for comfort and sustainability' %}</h2>
            <p>
                {% blocktrans %}
                    At YourShop, we believe in providing our customers with the highest quality fashion at affordable
                    prices.
                    Our collections are inspired by the latest trends while maintaining a focus on comfort and
                    sustainability.
                    Every piece is carefully crafted with attention to detail to ensure it fits perfectly into your
                    wardrobe.
                {% endblocktrans %}
            </p>
            <a href="{% url 'about' %}" class="read-more">{% trans 'READ MORE' %}</a>
        </div>
    </div>
</section>


<!-- Best Products Section -->
<section class="best-products">
    <h2>{% trans 'Our Best Products' %}</h2>
    <div class="product-list">
        {% for product in best_products %}
            <div class="product">
                <a href="{% url 'product-detail' product.slug %}">
                    {% with product.images.all|first as image %}
                        {% if image %}
                            <img src="{{ image.image.url }}" alt="">
                        {% else %}
                            <p>No image available for this product.</p>
                        {% endif %}
                    {% endwith %}
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.price }} so'm</p>
                </a>
            </div>
        {% endfor %}
    </div>
</section>

<!-- Ads Section -->
<!--<section class="ads">-->
<!--    <h2>{% trans 'Special Offers' %}</h2>-->
<!--    <div class="product-list">-->
<!--        <div class="product-special-offer">-->
<!--            <a href="#">-->
<!--                <img src="{% static 'images/special_offer1.png' %}" alt="Ad 1">-->
<!--                <h3>{% trans 'Summer Sale - 50% Off' %}</h3>-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="product-special-offer">-->
<!--            <a href="#">-->
<!--                <img src="{% static 'images/special_offer2.png' %}" alt="Ad 2">-->
<!--                <h3>{% trans 'Buy 1 Get 1 Free' %}</h3>-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->


<!-- Additional Ads Section -->
<section class="additional-ads">
    <h2>{% trans 'More Deals' %}</h2>
    <div class="product-list">
        {% for product in more_deals %}
            <div class="product">
                <a href="{% url 'product-detail' product.slug %}">
                    {% with product.images.all|first as image %}
                        {% if image %}
                            <img src="{{ image.image.url }}" alt="">
                        {% else %}
                            <p>No image available for this product.</p>
                        {% endif %}
                    {% endwith %}
                    <h3>{{ product.name|truncatewords:5 }}</h3>
                    <p>{{ product.price }} so'm</p>
                </a>
            </div>
        {% endfor %}
    </div>
</section>

<!-- New Arrival Products Section -->
<section class="new-arrivals">
    <h2>{% trans 'New Arrivals' %}</h2>
    <div class="product-list">
        {% for product in new_arrivals_f %}
            <div class="product">
                <a href="{% url 'product-detail' product.slug %}">
                    {% with product.images.all|first as image %}
                        {% if image %}
                            <img src="{{ image.image.url }}" alt="">
                        {% else %}
                            <p>No image available for this product.</p>
                        {% endif %}
                    {% endwith %}
                    <h3>{{ product.name|truncatewords:5 }}</h3>
                    <p>{{ product.price }} so'm</p>
                </a>
            </div>
        {% endfor %}
    </div>
    <div class="product-list">
        {% for product in new_arrivals_s %}
            <div class="product">
                <a href="{% url 'product-detail' product.slug %}">
                    {% with product.images.all|first as image %}
                        {% if image %}
                            <img src="{{ image.image.url }}" alt="">
                        {% else %}
                            <p>No image available for this product.</p>
                        {% endif %}
                    {% endwith %}
                    <h3>{{ product.name|truncatewords:5 }}</h3>
                    <p>{{ product.price }} so'm</p>
                </a>
            </div>
        {% endfor %}
</section>

<!-- Recommended Products Section -->
<section class="recommended-products">
    <h2>{% trans 'Recommended for You' %}</h2>
    <div id="recommended-product-list" class="product-listt">
        {% for product in recommend %}
            <div class="product-recommend">
                <a href="{% url 'product-detail' product.slug %}">
                    {% with product.images.all|first as image %}
                        {% if image %}
                            <img src="{{ image.image.url }}" alt="">
                        {% else %}
                            <p>No image available for this product.</p>
                        {% endif %}
                    {% endwith %}
                    <h3>{{ product.name|truncatewords:5 }}</h3>
                    <p>{{ product.price }} so'm</p>
                </a>
            </div>
        {% endfor %}
    </div>
</section>

<!-- Footer Section -->
<footer id="footer">
    <div class="social-media">
        <a href="https://www.instagram.com" target="_blank">
            <img src="{% static 'images/instagram_icon.png' %}" alt="Instagram">
        </a>
        <a href="https://t.me/jezow1" target="_blank">
            <img src="{% static 'images/telegram_icon.png' %}" alt="Telegram">
        </a>
        <a href="https://www.facebook.com" target="_blank">
            <img src="{% static 'images/facebook_icon.png' %}" alt="Facebook">
        </a>
        <a href="#" id="phoneIcon">
            <img src="{% static 'images/operator_icon.png' %}" alt="Phone number">
        </a>
        <div id="phoneModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <h3>{% trans 'Phone number' %}</h3>
                <div class="phone-container">
                    <p id="phoneNumber">+998 33 564-11-43</p>
                    <button id="copyButton" class="copy-button" style="margin-left: 10px; cursor: pointer;">📋
                        {% trans 'Copy' %}
                    </button>
                </div>
                <p id="copyMessage" class="copy-message" style="display: none; color: green;">{% trans 'Copied!' %}</p>
            </div>
        </div>
    </div>
    <p>© 2024 YourShop. All rights reserved.</p>
</footer>
<script src="{% static 'script.js' %}"></script>

</body>
</html>